name: Sub-Sync (File Mode)

on:
  workflow_dispatch: # 支持手动运行
  push:
    paths:
      - 'sub-store-data/sub-store.json' # 当你修改了 JSON 文件时自动触发转换
  schedule:
    - cron: '0 22 * * *' # 每天北京时间早晨 6 点自动更新

jobs:
  sync:
    runs-on: ubuntu-latest
    # 给权限以便自动 git push 结果
    permissions:
      contents: write

    steps:
      
      - name: Diagnostic (检查内置命令)
        run: |
          # 1. 查看环境变量中 PATH 下的文件
          docker run --rm xream/sub-store ls /usr/local/bin
          # 2. 查看容器默认的工作目录
          docker run --rm xream/sub-store pwd
          # 3. 查看当前目录下的文件（确认 CLI 入口名）
          docker run --rm xream/sub-store ls -F
