name: Sub-Store Sync Local

on:
  workflow_dispatch:
  schedule:
    #- cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    # 必须给予写入权限，否则无法推送到当前仓库
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Prepare Sub-Store Environment
        run: |
          mkdir -p output
          cat <<EOF > ./sub-store.json
          {
            "subs": [{
              "name": "MyNodes",
              "type": "http",
              "url": "https://cw.itao.qzz.io/e2c06fc8-29a8-44ca-b405-2349eab7b7df/sub"
            }],
            "targets": [{
              "type": "clash",
              "filename": "config.yaml",
              "payload": { "subs": ["MyNodes"], "options": { "gen-config": true } }
            }]
          }
          EOF
          
          docker create --name temp-sub xream/sub-store
          docker cp temp-sub:/opt/app/sub-store.bundle.js ./sub-store.bundle.js
          docker rm temp-sub

      - name: Execute Sync Task
        run: |
          export SUB_STORE_DATA_DIRECTORY=$(pwd)
          export SUB_STORE_OUTPUT_DIRECTORY=$(pwd)/output
          node ./sub-store.bundle.js sync

      - name: Git Push Results to Local Repo
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add output/config.yaml sub-store.json
          # 如果没有文件变动则不提交
          git commit -m "Auto sync: $(date '+%Y-%m-%d %H:%M:%S')" || exit 0
          git push
